<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.etas.ascet.build.ui.AscetSimulinkBuildLauncher">
<stringAttribute key="com.etas.ascet.build.advanced.options.file" value=""/>
<stringAttribute key="com.etas.ascet.build.application.file" value="/TestPlatform/components/Component.app"/>
<stringAttribute key="com.etas.ascet.build.arithmetic.service.definitionPath" value=""/>
<booleanAttribute key="com.etas.ascet.build.arithmetic.service.replaceStandard" value="false"/>
<stringAttribute key="com.etas.ascet.build.codeGenerator.name" value="SERVER7.5.0"/>
<stringAttribute key="com.etas.ascet.build.codeGenerator.version" value="V7.5.0"/>
<stringAttribute key="com.etas.ascet.build.compiler.defines" value="PC OBJECT"/>
<stringAttribute key="com.etas.ascet.build.compiler.inlineDirective" value=""/>
<stringAttribute key="com.etas.ascet.build.compiler.memoryDirective" value=""/>
<stringAttribute key="com.etas.ascet.build.compiler.options" value=""/>
<booleanAttribute key="com.etas.ascet.build.inline.esdl" value="false"/>
<stringAttribute key="com.etas.ascet.build.interpolation.defaultScheme" value="ESDL_Linear_Interpolation"/>
<stringAttribute key="com.etas.ascet.build.interpolation.definitionPath" value="${project_loc}"/>
<stringAttribute key="com.etas.ascet.build.messages.cache" value="CACHE_DISABLED"/>
<booleanAttribute key="com.etas.ascet.build.naming.ascet6LegacyMode" value="false"/>
<booleanAttribute key="com.etas.ascet.build.output.project" value="true"/>
<booleanAttribute key="com.etas.ascet.build.output.project.cdt" value="true"/>
<stringAttribute key="com.etas.ascet.build.output.project.name" value="${project_name}_CGen"/>
<booleanAttribute key="com.etas.ascet.build.physicalImplementation" value="false"/>
<booleanAttribute key="com.etas.ascet.build.simulation.enable.calibration" value="true"/>
<booleanAttribute key="com.etas.ascet.build.simulation.enable.measurements" value="false"/>
<stringAttribute key="com.etas.ascet.build.target.integerDivisionRounding" value="truncate"/>
<stringAttribute key="com.etas.ascet.build.target.wordSize" value="32"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestPlatform/components/Component.app"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
